body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/drill.jpg");
  min-height: 100%;
}
.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/drill.jpg");
  min-height: 50%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.padding-small {
  padding: 12px !important;
}

.indent {
  text-indent: 50px;
}
.color-theme {
  color: #321911;
  background: #e6e6e6;
}
.color-theme-inverted {
  color: #321911;
  background: #b3b3b3;
}
.button-theme {
  color: #321911;
}
.button-theme:hover {
  background: #bf6040 !important;
}
.input-theme {
  color: #321911 !important;
  border: 1px solid #321911 !important;
  background: transparent;
}
.input-theme::placeholder {
  color: #bf6040;
}
.menu-button-theme {
  color: #321911;
}
.menu-button-theme:hover {
  color: #bf6040 !important;
  background: transparent !important;
}
.link-style:hover {
  color: #cc8066;
}
.footer-menu {
  padding: 10px;
}
.footer {
  color: #b0583b;
  background: #404040;
}

.text-background {
  color: #321911;
  background: #b0583b;
  padding: 20px;
  padding-left: 60px;

  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow:
      $padding 0 0 transparent,
      -$padding 0 0 transparent;
}

.phone-menu {
  position: fixed;
  background: #ffffff;
  z-index: 1;
}
