body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/drill.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.color-theme {
  color: #321911;
}
.indent {
  text-indent: 50px;
}

.text-background {
  background: #b0583b;
  padding: 10px;
  padding-left: 50px;

  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow:
      $padding 0 0 transparent,
      -$padding 0 0 transparent;
}

.phone-menu {
  position: fixed;
  background: #b0583b;
  z-index: 1;
}
.phone-menu > .w3-bar-item:hover {
  border-bottom: 2px solid #321911;
  background: #b0583b !important;
}
